# Określenie, że wszystkie pliki .R są języka R
*.R linguist-language=R

# Określenie, że wszystkie pliki .Rmd (R Markdown) są języka R
*.Rmd linguist-language=R

# Określenie, że wszystkie pliki .r i .rdata są języka R
*.r linguist-language=R
*.rdata linguist-language=R

# Oznaczenie wszystkich plików HTML jako generowanych
*.html linguist-generated

# Ignorowanie typowych katalogów z plikami nie związanymi z R
vendor/**/* linguist-vendored
docs/**/* linguist-documentation
node_modules/**/* linguist-vendored
